<a  ui-sref="public.home" title="{{ vm.blogName }}" rel="home" layout>
  <div class="site-logo"></div>
  <hgroup itemscope itemtype="http://schema.org/NGO">
    <h1 itemprop="name" class="site-title">ADEVAV</h1>
    <h2 itemprop="legalName" class="site-description">Asociación de Esposas de Veteranos y Amigas Voluntarias</h2>
  </hgroup>
</a>
<div layout="column" layout-align="start end">
  <social></social>
  <uib-tabset id="nav-tabs" active="vm.activeTab">
    <uib-tab index="public.about-us" heading="Sobre Nosotros" ui-sref="public.about-us"></uib-tab>
    <uib-tab index="public.blog" heading="Bitácora" ui-sref="public.blog"></uib-tab>
    <uib-tab heading="Proyectos"></uib-tab>
    <uib-tab index="public.associates" heading="Asociadas" ui-sref="public.associates"></uib-tab>
    <uib-tab index="public.contact-us" heading="Contáctanos" ui-sref="public.contact-us"></uib-tab>
  </uib-tabset>
</div>
