<a href="/" title="ADEVAV" rel="home">
  <div class="site-logo"></div>
  <hgroup itemscope itemtype="http://schema.org/NGO">
    <h1 itemprop="name" class="site-title">ADEVAV</h1>
    <h2 itemprop="legalName" class="site-description">Asociación de Esposas de Veteranos y Amigas Voluntarias</h2>
  </hgroup>
</a>
<nav id="social" class="pull-right"><?php get_template_part('social') ?></nav>
<nav id="nav-tabs" class="pull-right">
  <ul class="nav nav-tabs"><?php get_template_part('navigate') ?></ul>
</nav>
