#colophon {
  color: #FFF;
  margin-top: 10px;

  h1 {
    padding-bottom: 5px;
    border-bottom: #FFF solid 2px;
  }
  a {
    color: #FFF;
  }
  .searchform {
    margin: 10px 0px;

    md-input-container {
      label {
        color: white;
      }
    }
    .md-input {
      border-color: white;
    }
    .md-input-focused {
      label {
        color: white !important;
      }
      .md-input {
        border-color: white !important;
      }
    }
  }

  #designer {
    display: inline-block;
    float: right;
    border-top: #FFF solid 2px;
    width: 100%;
    padding-top: 5px;

    span {
      font-size: 20px;
    }
    a {
      float: right;
      background: transparent url(../../img/creativos_pty_blue.png) no-repeat right top;
      width: 50%;
      height: 60px;
    }
    a:hover {
      background: transparent url(../../img/creativos_pty_blue_hover.png) no-repeat right top;
    }
  }
}
