<div layout>
  <section flex>
    <h2 class="entry-title">Iniciar Sesión</h2>
    <form name="loginForm" ng-submit="vm.login()" novalidate layout="column" layout-padding>
      <div layout layout-padding>
        <md-input-container flex>
          <label>Su Correo Electrónico</label>
          <input name="email" type="email" ng-model="vm.credentials.email" required />
          <div ng-messages="loginForm.email.$error" name="email-errors" ng-if="loginForm.$submitted">
            <ng-message when="required">Su correo electrónico es requerido.</ng-message>
            <!-- TODO: Figure out why are both being triggered at once -->
            <ng-message when="email">Lo proveído no es un correo electrónico.</ng-message>
          </div>
        </md-input-container>
      </div>
      <div layout layout-padding>
        <md-input-container flex>
          <label>Su Contraseña</label>
          <input name="password" type="password" ng-model="vm.credentials.password" required />
          <div ng-messages="loginForm.password.$error" name="password-errors" ng-if="loginForm.$submitted">
            <ng-message when="required">Su contraseña es requerido.</ng-message>
          </div>
        </md-input-container>
      </div>
      <div layout layout-padding>
        <md-button class="md-raised md-primary" type="submit">Iniciar Sesión</md-button>
      </div>
    </form>
  </section>
</div>
